html {
    font-family: sans-serif;
    color: black;
    background-color: white;
}
h1 {
    border: solid blue;
    border-width: 0px 0px 1px 1em;
    margin: 0.5em 0em;
    padding: 0.1em 0.5em;
}
h2 {
    border: solid blue;
    border-width: 0px 0px 1px 0.5em;
    margin: 0.5em 0em;
    padding: 0.1em 0.5em;
}
h3 {
    margin: 0.2em 0em;
    padding: 0.2em 0em;
}
img {
    width: 20%;
}
header {
    display: none;
}
p {
    margin: 0em;
    padding: 0em;
}
figcaption {
    display: none;
}
