html {
    font-family: sans-serif;
    color: black;
    background-color: white;
}
h1 {
    color: white;
    background-color: #f80;
    margin: 0.5em 0em;
    padding: 0.1em 1em;
    text-align: center;
}
h2 {
    border: solid #f80;
    border-width: 0px 0px 1px 1em;
    margin: 0.5em 0em;
    padding: 0.1em 0.5em;
}
h3 {
    margin: 0.2em 0em;
    padding: 0.2em 0em;
}
p {
    margin: 0em;
    padding: 0em;
}
a {
    color: black;
}
