h1 {
    background-color: #f50;
}
h2 {
    border-color: #f50;
}
img[id^='jango-screenshot-'] {
    max-width: 30%;
}
#jango-feature {
    width: 512px;
}
#jango-icon {
    width: 114px;
    height: 114px;
    border-radius: 18px;
}
